$big-classroom-color: darkblue;
$classroom-color: yellow;
$small-classroom-color: pink;

*{
    margin: 15px;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background :rgb(255, 255, 255);
}

@mixin classroom-layout ($background) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: $background;
    
}
@mixin desk-size ($margin) {
    width: 50px;
    height: 50px;
    margin: $margin;
    border: 2px solid black;
}
@mixin teacher-desk($background, $left) {
    width: 100px;
    height: 40px;
    left: $left;
    background: $background;
    border: 2px solid black;
    position: relative
}

div.smallClassroom {
   @include classroom-layout(peachpuff);
    width: 220px;
    height: 180px;
    
    .smallDesk {
    background:  $small-classroom-color;
    @include desk-size(27px);

    
}

.smallDeskTeacher {
        @include teacher-desk(orange,55px)
    }
}
.classroom {
    @include classroom-layout(lightgrey);
    width: 290px;
    height: 200px;
    

}
.desk {
    background-color: $classroom-color;
    @include desk-size(9px)
}
.deskTeacher {
    @include teacher-desk(red, 90px );
    top: 20px;
}


.largeClassroom {
    @include classroom-layout(grey);
    width: 350px;
    height: 280px;
   
}
.largeDesk {
    background: $big-classroom-color;
    @include desk-size(15px)
}

.largeDeskTeacher {
    @include teacher-desk(green,110px )
}